<div class="card"></div>
<h2 class="card-header">SIGN UP</h2>
<form class="card-body signup-form">
    <div>
        <label for="username-signup">username:</label>
        <input type="text" id="username-signup" />
    </div>
    <div>
        <label for="email-signup">email:</label>
        <input type="text" id="email-signup" />
    </div>
    <div>
        <label for="password-signup">password:</label>
        <input type="password" id="password-signup" />
    </div>
    <div>
        <button type="submit" class="btn btn-primary" type="submit">SIGN UP</button>
    </div>
</form>

<a href="/login"><button> Already have an account? LOGIN</button></a>

<script src="/javascript/login.js"></script>